h1{
    size: 3rem;
    color: midnightblue;
}



a {
    outline: none;
    text-decoration: none;
    padding: 15px;
    border-style: none;
    background-color: grey;
    border-radius: 5px;
    margin: 10px;
    color: white;
}
  

a:hover{
    background-color: midnightblue;
} 

