div{
    margin: 20px;
}
a {
    outline: none;
    text-decoration: none;
    border-style: none;
    background-color: grey;
    border-radius: 5px;
    color: black;
    padding: 10px;
    
}

a:hover{
    background-color: midnightblue;
    color: white;
} 


.id {
    background-color: cornflowerblue;
}

.nom{
    background-color: rgb(205, 205, 205);
}
